{% extends "quiz/base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ quiz.author }}, {{ user.username }}</h1>
        <h2>{{ quiz.title }}</h2>
        <div class="ml-5">
            {% for question in questions %}
                <a href="/question/{{ question.id }}" class="btn btn-outline-primary">{{ question.question }}</a>
                <div class="ml-3">
                    {% if user == quiz.author %}
                        {% for answer in question.answer_set.all %}
                            <h4>{{ answer.answer }}, {{answer.is_correct}}</h4>
                        {% endfor %}
                    {% else %}
                        {% for answer in question.answer_set.all %}
                            <h4>{{ answer.answer }}</h4>
                        {% endfor %}
                    {% endif%} 
                </div>
            {% endfor %}
        {% if user == quiz.author %}
            {% if quiz.is_editable %}
                <a href="/addquestion/{{ quiz.id }}"><h2>Add question</h2></a>
                <a href="/upload/{{ quiz.id }}"><h2>Upload quiz from file</h2></a>
            {% else %}
                <a href="/stats/{{ quiz.id }}"><h2>View statistics</h2></a>
            {% endif %}

            <h2>Delete quiz</h2>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}