{% extends "quiz/base.html" %}

{% block content %}
    <div class="container">
        <h3>Front side</h3>
            {% if card.front_side_text %}
                <p>{{ card.front_side_text }}</p>
            {% endif %}
            {% if card.front_side_img %}
                <img src="{{ card.front_side_img.url }}" alt="img" width="400" height="379" >
            {% endif %}
        <h3>Back side</h3>
            {% if card.back_side_text %}
                <p>{{ card.back_side_text }}</p>
            {% endif %}
            {% if card.back_side_img %}
                <img src="{{ card.back_side_img.url }}" alt="img" width="400" height="379" >
            {% endif %}
        <h2>Edit Card</h2>
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>

        </div>
    </div>
{% endblock %}